.full-body{
    background-color: #f5f8ff;
}

/* text style  */

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
    
.inter {
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}




/* first section  */
/* title  */
.first-section{
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* max-width: 100%; */
  /* height: 700px; */
  
}

.title-container1{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    gap: -10px;
    margin-top: 50px;
}

.body-content{
    text-align: center;
}
/* text deco  */
.text-deco{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    margin-top: 70px;
}

.head-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.body-content{
    margin-top: 310px;
    margin-bottom: 200px;
    
}

/* button design  */
.btn-1{
    width: 132px;
    height: 48px;
    /* padding: 20px; */
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    margin-top: 70px;
    border-radius: 10px;
    border: none;
}

.btn-2{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 200px;
    font-size: 16px;
    font-weight: bold;
}

.btn-1 :hover{
    transform: scale(0,2);
    transition: 0.5ms;
}

/* action section  */

.action-container{
    display: flex;
    justify-content: space-around;
    margin-top: -40px;
    
}

.text-container{
    margin-left: 150px;
    margin-right: 220px;
    margin-top: 62px;
    margin-bottom: 62px;
}

.image-container{
    margin-right: 160px;
    
}
.img-edit{
    width: 403px;
    height: 330px;
    border-radius: 48px;
}
.action-head{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-des{
    font-size: 24px;
    font-weight: 400;
    color: #5c5a6e ;
}

/* btn  */

.btn-3{
    width: 229px;
    height: 48px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

/* productive user seection  */
.productive-user-container{
    background-color: #cecefc;
    padding: 50px 80px 50px 80px;
    width: 1140px;
    /* height: 306px; */
    margin: 116px auto;
    border-radius: 24px;
      
}
.productive-title{
    text-align: center;
    
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.first-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.users{
   font-size: 80px;
   font-weight: bold; 
   color: #4E47FF;
   margin-bottom: 0;
}

.session{
    font-size: 80px;
   font-weight: bold; 
   color: #4E47FF;
   margin-bottom:0 ;
}

.rate{
     font-size: 80px;
   font-weight: bold; 
   color: #4E47FF;
   margin-bottom: 0;
}

.active-users{
    font-size: 20px;
    font-weight: normal;
    color: #3d3b3b;
    margin-top: 0;
}

/* card revie style  */

.card-title-head{
    text-align: center;
}
.card-head{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.card1{
    width: 366.67px;
    height: 243px;
    border: none ;
    border-radius: 14px;
    padding: 24px;
    background-color: #fffbfb;
    
}

.customar-review{
    display: flex;
    gap: 20px;
}
.image-edit20{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    margin-top: 24px;
}
.name-and-date{
    font-size: 12px;
    font-weight: 300;
    color: #5c5a6e;
}
.review-title{
    font-size: 24px;
}
.review-desp{
    font-size: 16px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

/* focus better sexction  */

.focus-container{
    text-align: center;
    background-color: #fff6f6;
    width: 1140px;
    height: 696.77px;
    margin-left: 215px;
    border-radius: 14px;
    padding: 71px 150px 71px 150px;
    margin-top: 140px;
}

.focus-er-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.focus-er-des{
    font-size: 16px;
    font-weight: 400;
    color: #5c5a6e;
}

.focus-er-btn{
    width: 195px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
}

.focus-er-pic{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 20px;
}

/* get in touch section  */

.get-in-touch-container{
    display: flex;
    justify-content: center;
    gap: 115px;
    margin-top: 97px;
}

.get-in-head{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}

.email{
    font-size: 18px;
    font-weight: 500;
}

#email1{
    width: 497px;
    height: 70px;
    padding-left: 32px;
    border-radius: 10px;
    border: none;
}

.name{
    font-size: 18px;
    font-weight: 500;
}

#name2{
    width: 497px;
    height: 70px;
    padding-left: 32px;
    border-radius: 10px;
    border: none;
}

.masasage{
     font-size: 18px;
    font-weight: 500;
}

#masasage2{
    width: 497px;
    height: 135px;
    padding-left: 32px;
    border-radius: 10px;
    border: none;
    padding-top: 20px;
}

.getintouch-btn{
    width: 499px;
    height: 62px;
    margin-top: 20px;
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: right 110px; ;
}
.btn-lekha{
    font-size: 16px;
    font-weight: bold;
    padding: 0 101px;
}

.get-touch-section{
    padding-top: 90px;
}

/* footer section  */

.footer-logo{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}

.logo-dis1{
    font-size: 20px;
    font-weight: 400;
    color: #8987A1;
}

.nav-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
}

 .nav-menu a {
      text-decoration: none;
      color: #888; /* light gray color */
      font-size: 20px;
      padding: 5px;
    }

.logo-container{
    text-align: center;
    width: 100%px;
    height: 428px;
    background-color: #fffefe;
    margin: 0 auto;
    padding-top: 90px;
    margin-top: 90px;
}    

.footer-logo{
    margin-bottom: 8px;
}
.logo-dis1{
    margin-bottom: 20px;
}